@using Projeto_MVC.Models
@model IEnumerable<Projeto_MVC.Models.Contato>
@{
    ViewData["Title"] = "Listagem de Contatos";
}

<h2>Contatos</h2>
<p><a asp-action="Criar" class="btn btn-primary">Novo Contato</a></p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ativo)
                </td>
                <td>
                    <a asp-action="Editar" asp-route-id="@item.Id" class="btn btn-primary">Editar</a>
                    <a asp-action="Detalhes" asp-route-id="@item.Id" class="btn btn-info">Detalhes</a>
                    <a asp-action="Excluir" asp-route-id="@item.Id" class="btn btn-danger">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
                
              
            </tr>
        
    </tbody>
</table>
